.container-office{
    padding: 0;
    color: yellow;
    background-color: blue;
    text-shadow: 2px 2px red;
  }
.scroll-f{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
  .fav-card {
    display: inline-block;
  }
